@import "tailwindcss";

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f8f9fa;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
  border: 2px solid #f8f9fa;
}

::-webkit-scrollbar-thumb:hover {
  background: #0f2636;
}

/* Firefox Support */
html {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 #f8f9fa;
}
